* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  color: rgba(15, 20, 25, 1.0);
  background-color: rgba(255, 255, 255, 1.0);
}

img {
  border-radius: 50%;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.margin-right {
  margin-right: 10px;
}

#home-top {
  display: flex;
  padding: 20px 0;
}

#tzeet-form-container {
  margin: 0 25px;
}

/* Menu de navegação e menu do feed */
#navigation-menu #navigation-menu-list {
  padding: 0;
}

#navigation-menu #navigation-menu-list .navigation-menu-item > a {
  display: flex;
  align-items: center;
}

#navigation-menu #navigation-menu-list .navigation-menu-item > a svg {
  margin-right: 15px;
}

#navigation-menu #navigation-menu-list .navigation-menu-item > a p {
  margin: 0;
}

#navigation-menu .tweet-btn {
  padding: 5px 25px;
}

#feed-container #feed-options {
  display: flex;
  align-items: center;
}

#feed-container #feed-options .feed-options-item > a,
#navigation-menu #navigation-menu-list .navigation-menu-item > a {
  display: flex;
  padding: 5px 10px;
  color: rgba(15, 20, 25, 1.0);
  text-decoration: none;
}

#feed-container #feed-options .feed-options-item > a:hover,
#navigation-menu #navigation-menu-list .navigation-menu-item > a:hover {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgba(15, 25, 20, 0.1);
}

/* Perfil */
#profile #user-info .user,
#profile #user-info #user-description,
.tzeet-container .tzeet-user-info .user {
  color: rgba(15, 20, 25, 1.0);
}

#profile #profile-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#profile-info > ul:first-child {
  margin-bottom: 10px;
}

#profile-info #profile-info-statistics {
  display: flex;
}

#profile-info #profile-info-statistics .profile-info-item {
  margin-right: 10px;
}

#profile-info #profile-info-statistics .profile-info-item:last-child {
  margin-right: 0;
}

.profile-info-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.profile-info-item > a h5 {
  margin: 0;
}

#profile-info .profile-info-item a > p {
  margin: 0;
}

#profile-info #profile-info-statistics .profile-info-item a:hover {
  text-decoration: underline;
}

#profile-info #profile-info-statistics .profile-info-item > a h5 {
  margin-right: 5px;
  font-weight: bold;
  color: rgba(15, 20, 25, 1.0);
}

#profile-info #profile-info-location-date {
  display: flex;
}

#profile-info #profile-info-location-date .profile-info-item {
  margin-right: 10px;
}

#profile-info #profile-info-location-date .profile-info-item > a {
  text-decoration: none;
  color: rgba(83, 100, 113, 1.0);
}

.tzeet-container .tzeet-user-info > span,
.tzeet-container .tzeet-user-info .user-name,
#profile #user-info .user-name,
#profile-info #profile-info-location-date .profile-info-item,
#profile-info #profile-info-statistics .profile-info-item > a p {
  color: rgba(83, 100, 113, 1.0);
}

#edit-profile-button {
  align-self: flex-end;
  height: 45px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Tzeets */
.tzeet-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  border-radius: 5px;
  border-top: 1px solid #d9d9d9;
}

.tzeet-container .tzeet-user-info {
  display: flex;
  align-items: center;
}

.tzeet-container .tzeet-user-info > p,
.tzeet-container .tzeet-user-info > a,
.tzeet-container .tzeet-user-info > img {
  margin: 0 10px 0 0;
}

.tzeet-container .tzeet-content {
  margin: 10px 0;
}

.tzeet-container:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.tzeet-container .actions {
  display: flex;
  align-items: center;
  padding: 0;
}

.tzeet-container .actions .actions-item > a {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  color: rgba(83, 100, 113, 1.0);
}

.tzeet-container .actions .actions-item > a svg {
  margin-right: 5px;
}

.tzeet-container .actions .actions-item > a:hover {
  border-radius: 50%;
  border: 1px solid transparent;
}

.tzeet-container .actions .share > a:hover,
.tzeet-container .actions .reply > a:hover {
  color: rgba(29, 155, 240, 1.0);
  background-color: rgba(29, 155, 240, 0.1);
}

.tzeet-container .actions .retzeet > a:hover {
  color: rgba(0, 186, 124, 1.0);
  background-color: rgba(0, 186, 124, 0.1);
}

.tzeet-container .actions .like > a:hover {
  color: rgba(249, 24, 128, 1.0);
  background-color: rgba(249, 24, 128, 0.1);
}

.container > main {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
}

.container .input-form {
  background-color: #e9ecef;
}

.container .users-example {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
}

.container .users-example .user {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 0;
}
