@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

#page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
}

#form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  border-radius: 10px;
  border: 1px solid rgba( 0, 0, 0, 0.05 );
  background-color: rgba( 255, 255, 255, 1 );
  box-shadow: 2px 4px 8px 0 rgba( 0, 0, 0, 0.1 );
}

#form-container form {
  width: 100%;
  padding: 10px 0;
}

#form-container form > #born-at {
  padding: 15px 0;
  margin-bottom: 15px;
  border-top: 1px solid rgba( 0, 0, 0, 0.1 );
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
}

#form-container form > #born-at #select-container {
  display: flex;
  padding: 10px 0 0 0;
}

#form-container form > #terms-policy #radio-checks {
  display: flex;
}

#form-container form > #terms-policy #radio-checks > .form-check {
  margin-right: 10px;
}

#form-container #form-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#form-container #form-bottom #link {
  margin-top: 20px;
}
